# 1. id 칼럼 만들기

## 파일 불러오기

In [2]:
import pandas as pd
file_name = "1_crawled_text.csv"
df = pd.read_csv(file_name, encoding="utf-8")
df.head(3)

,community,gall_id,search_keyword,number,date_created,time_created,writer,is_reply,text
0,dcinside,snp500,jyp,746844,2023-06-13,12:50:42,ㅇㅇ,0,jyp가반년만에2배가올랏네 근디보니는인적자원위주로하는사업은먼가ㅂㄹ다걍제조업이조음..
1,dcinside,snp500,jyp,730087,2023-05-16,17:52:40,ㅇㅇ(118.34),0,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...
2,dcinside,snp500,jyp,730087,2023-05-16,17:52:48,ㅇㅇ(118.34),1,ㅠㅠ

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153474 entries, 0 to 1153473
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   community       1153474 non-null  object
 1   gall_id         1153474 non-null  object
 2   search_keyword  1153474 non-null  object
 3   number          1153474 non-null  int64
 4   date_created    1153474 non-null  object
 5   time_created    1153474 non-null  object
 6   writer          1153474 non-null  object
 7   is_reply        1153474 non-null  int64
 8   text            1153474 non-null  object
dtypes: int64(2), object(7)
memory usage: 79.2+ MB

In [3]:
# 칼럼 확인
df.columns

Index(['community', 'gall_id', 'search_keyword', 'number', 'date_created',
       'time_created', 'writer', 'is_reply', 'text'],
      dtype='object')

## id 칼럼 생성 프로세스
* unique한 id를 만드는데 필요한 칼럼 : gall_id, search_keyword, number
* gall_id : 2자리 숫자 문자열
* search_keyword : 2자리 숫자 문자열
* number : 8자리 숫자 문자열
---
* id : 12자리 숫자 문자열. id = 'search_keyword' + 'gall_id' + 'number'

### gall_id -> 2자리 숫자 문자열

In [37]:
# gall_id 2자리 숫자 문자열 만들기
unique_gall_id_list = df['gall_id'].unique().tolist()
len(unique_gall_id_list)

30

In [45]:
gall_id_dict = {}
for index, value in enumerate(unique_gall_id_list):
    number_str = str(index + 1).zfill(2)  # 숫자를 문자열로 변환
    gall_id_dict[value] = number_str
gall_id_dict

{'snp500': '01',
 'koreafutures': '02',
 'finance': '03',
 'nasdaq': '04',
 'dow100': '05',
 'stockus': '06',
 'jusik': '07',
 'jaetae': '08',
 'neostock': '09',
 'securities': '10',
 'kospi': '11',
 'of': '12',
 'kuya': '13',
 'tenbagger': '14',
 'smow': '15',
 'immovables': '16',
 'alliescon': '17',
 'minjudang': '18',
 'newconservativeparty': '19',
 'csahn': '20',
 'ancheolsu': '21',
 'leejaemyung': '22',
 'kids': '23',
 'centristpolitics': '24',
 'energystock': '25',
 'superconductor': '26',
 'bd': '27',
 'heidel': '28',
 'lostark': '29',
 'aoegame': '30'}

### search_keyword -> 2자리 숫자 문자열

In [66]:
# search_keyword 2자리 숫자 문자열 만들기
unique_search_keyword_list = df['search_keyword'].unique().tolist()
print(unique_search_keyword_list)
print(len(unique_search_keyword_list))

['JYP', 'LG화학', '금양', '기아', '넷마블', '셀트리온', '아모레', '안랩', '에스엠', '에코프로', 'LG에너지솔루션', '엔씨소프트', '엘앤에프', '이마트', '카카오', '컴투스', '코스맥스', '한국콜마', '펄어비스', '피엔티', 'SK하이닉스', '하이브', '현대차', '휴젤']
24

In [60]:
# (lg화학 & 엘화, 에너지솔 & 엔솔, 하이닉스 & 하닉) 의 키워드를 통일한다.
# '콜마', '에코', '엔씨', '셀트' 같이 줄여서 검색한 것도 원래 이름으로 수정하자.

change_dict = {
    '하닉': 'SK하이닉스', 
    '하이닉스': 'SK하이닉스', 
    '엘화': 'LG화학', 
    'lg화학': 'LG화학',
    '엔솔': 'LG에너지솔루션',
    '에너지솔': 'LG에너지솔루션',
    '콜마': '한국콜마',
    '에코': '에코프로',
    '엔씨': '엔씨소프트',
    '셀트': '셀트리온',
    'jyp': 'JYP'
}
df['search_keyword'] = df['search_keyword'].replace(change_dict)

In [65]:
search_keyword_dict = {}
for index, value in enumerate(unique_search_keyword_list):
    number_str = str(index + 1).zfill(2)  # 숫자를 문자열로 변환
    search_keyword_dict[value] = number_str
search_keyword_dict

{'JYP': '01',
 'LG화학': '02',
 '금양': '03',
 '기아': '04',
 '넷마블': '05',
 '셀트리온': '06',
 '아모레': '07',
 '안랩': '08',
 '에스엠': '09',
 '에코프로': '10',
 'LG에너지솔루션': '11',
 '엔씨소프트': '12',
 '엘앤에프': '13',
 '이마트': '14',
 '카카오': '15',
 '컴투스': '16',
 '코스맥스': '17',
 '한국콜마': '18',
 '펄어비스': '19',
 '피엔티': '20',
 'SK하이닉스': '21',
 '하이브': '22',
 '현대차': '23',
 '휴젤': '24'}

In [77]:
# gall_id, search_keyword 2자리 숫자 문자열 칼럼 만들기
df['gall_id_mapped'] = df['gall_id'].map(gall_id_dict)
df['search_keyword_mapped'] = df['search_keyword'].map(search_keyword_dict)
df.tail()

,community,gall_id,search_keyword,number,date_created,time_created,writer,is_reply,text,number_str,gall_id_mapped,search_keyword_mapped
1153469,dcinside,tenbagger,휴젤,137263,2020-04-30,20:08:57,사이버경찰,1,갤 잘못온듯,00137263,14,24
1153470,dcinside,tenbagger,휴젤,137263,2020-04-30,20:09:36,윤연준(211.108),1,ccl 지금 시총 반도안되는 개잡주들 천지인즛,00137263,14,24
1153471,dcinside,tenbagger,휴젤,125127,2020-04-29,11:55:10,ㅇㅇ(123.215),0,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...,00125127,14,24
1153472,dcinside,tenbagger,휴젤,125127,2020-04-29,11:56:16,ㅇㄷ(175.223),1,한국 상장회사들중에 ㅂㅅ같은곳이 넘 많음...,00125127,14,24
1153473,dcinside,tenbagger,휴젤,125127,2020-04-29,11:56:38,ㅇㅇ(223.33),1,신흥국 회사투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.,00125127,14,24

### number -> 8자리 숫자 문자열

In [74]:
# number 칼럼 가공하기
max_value = df['number'].max()
max_value  # 가장 큰 숫자가 8자리 이므로, 8자리 문자열로 바꾼다

24738624

In [75]:
# number를 8자리 문자열로 만믈기
df['number_str'] = df['number'].apply(lambda x: str(x).zfill(8))
df.head()

,community,gall_id,search_keyword,number,date_created,time_created,writer,is_reply,text,number_str
0,dcinside,snp500,JYP,746844,2023-06-13,12:50:42,ㅇㅇ,0,jyp가반년만에2배가올랏네 근디보니는인적자원위주로하는사업은먼가ㅂㄹ다걍제조업이조음..,00746844
1,dcinside,snp500,JYP,730087,2023-05-16,17:52:40,ㅇㅇ(118.34),0,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...,00730087
2,dcinside,snp500,JYP,730087,2023-05-16,17:52:48,ㅇㅇ(118.34),1,ㅠㅠ,00730087
3,dcinside,snp500,JYP,730087,2023-05-16,18:04:04,ㅇㅇ(203.227),1,ㅠㅠ,00730087
4,dcinside,snp500,JYP,714904,2023-04-17,22:00:45,설묘.,0,니들 jyp 어케 생각해? ㄹㅇ 개미 너무 많이 붙는거 같은데,00714904

### id 칼럼 생성

In [81]:
# id 만들기
# id : 12자리 숫자 문자열. id = 'search_keyword' + 'gall_id' + 'number'
# id는 (게시글과 게시글에 달린 댓글) 을 고유한 단위로 묶어준다
df['id'] = df['search_keyword_mapped'] + df['gall_id_mapped'] + df['number_str']
df.head()

,community,gall_id,search_keyword,number,date_created,time_created,writer,is_reply,text,number_str,gall_id_mapped,search_keyword_mapped,id
0,dcinside,snp500,JYP,746844,2023-06-13,12:50:42,ㅇㅇ,0,jyp가반년만에2배가올랏네 근디보니는인적자원위주로하는사업은먼가ㅂㄹ다걍제조업이조음..,00746844,01,01,010100746844
1,dcinside,snp500,JYP,730087,2023-05-16,17:52:40,ㅇㅇ(118.34),0,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...,00730087,01,01,010100730087
2,dcinside,snp500,JYP,730087,2023-05-16,17:52:48,ㅇㅇ(118.34),1,ㅠㅠ,00730087,01,01,010100730087
3,dcinside,snp500,JYP,730087,2023-05-16,18:04:04,ㅇㅇ(203.227),1,ㅠㅠ,00730087,01,01,010100730087
4,dcinside,snp500,JYP,714904,2023-04-17,22:00:45,설묘.,0,니들 jyp 어케 생각해? ㄹㅇ 개미 너무 많이 붙는거 같은데,00714904,01,01,010100714904

In [8]:
import pandas as pd
df = pd.read_csv("output_id_text.csv", encoding="utf-8")

# 불필요한 칼럼 제거
df_new = df.drop(['community', 'gall_id', 'number', 'number_str', 'gall_id_mapped', 'search_keyword_mapped'], axis=1)

In [9]:
df_new.tail(5)

,search_keyword,date_created,time_created,writer,is_reply,text,id
1153469,휴젤,2020-04-30,20:08:57,사이버경찰,1,갤 잘못온듯,241400137263
1153470,휴젤,2020-04-30,20:09:36,윤연준(211.108),1,ccl 지금 시총 반도안되는 개잡주들 천지인즛,241400137263
1153471,휴젤,2020-04-29,11:55:10,ㅇㅇ(123.215),0,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...,241400125127
1153472,휴젤,2020-04-29,11:56:16,ㅇㄷ(175.223),1,한국 상장회사들중에 ㅂㅅ같은곳이 넘 많음...,241400125127
1153473,휴젤,2020-04-29,11:56:38,ㅇㅇ(223.33),1,신흥국 회사투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.,241400125127

In [ ]:
df_new.info()

## 파일로 저장 : 1_id_text.csv

In [10]:
# .csv 파일로 저장
df_new.to_csv("1_id_text.csv", encoding='utf-8', index=False)